body {
  font-family: "Segoe UI", sans-serif;
  background: #f5f7fb;
  margin: 0;
  padding: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.card h3 {
  margin-bottom: 10px;
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 7px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #4e73df;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #2e59d9;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #4e73df;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

tr:hover {
  background: #f1f3f9;
}
