body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #eef2ff, #f0f9ff);
  padding: 25px;
}

h2 {
  text-align: center;
  color: #4f46e5;
  margin-bottom: 20px;
}

.card {
  width: 650px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  animation: fadeIn 0.6s ease;
}

.card h3 {
  margin-bottom: 15px;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 7px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #06b6d4;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  background: #0891b2;
  transform: translateY(-2px);
}

table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

th {
  background: #4f46e5;
  color: white;
  padding: 12px;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

tr:hover {
  background: #f1f5ff;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}
