body {
  font-family: "Segoe UI", sans-serif;
  background: #f5f7fb;
  margin: 0;
  padding: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 600px;
  margin: auto;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin: 7px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  height: 70px;
}

button {
  background: #1cc88a;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #17a673;
}

table {
  width: 100%;
  margin-top: 25px;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #1cc88a;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

tr:hover {
  background: #f1f9f6;
}
