body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #eef2ff, #f0f9ff);
  padding: 30px;
}

h2 {
  text-align: center;
  color: #4f46e5;
  margin-bottom: 20px;
}

#search {
  display: block;
  margin: auto;
  padding: 10px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

button {
  padding: 8px 14px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
  transition: 0.2s;
}

button:hover {
  background: #4338ca;
}

table {
  width: 95%;
  margin: auto;
  background: white;
  border-collapse: collapse;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border-radius: 12px;
  overflow: hidden;
}

th {
  background: #06b6d4;
  color: white;
  padding: 12px;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

tr:hover {
  background: #f0f9ff;
}
